<launch>

    <arg name="robot" default="COSTAR_HUSKY"/>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="$(arg robot)/points"/>
        <remap from="scan" to="$(arg robot)/front_scan"/>
        <rosparam>
            # target_frame: COSTAR_HUSKY/base_link/front_laser # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -0.2    # -0.5
            max_height: -0.1    # -0.2

            angle_min: -1.6
            angle_max: 1.6
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.0
            range_max: 100.0
            use_inf: false
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>